/* On mouse-over, add a deeper shadow */

.media-element {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card .container {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    object-fit: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-radius: 25%;
    width: 70%;
    height: 70%;
}

h4 {
    text-align: center;
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

p {
    text-align: center;
    font-size: 1em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.media-element button {
    margin: 1px;
    margin-bottom: 0.rem;
    padding: 0.50rem;
    border-radius: 20px;
    background-color: #4caf50;
    font: inherit;
    color: #fff;
    border: none;

}